#calculator {
    width: 300px;
}

#display {
    height: 30px;
    line-height: 30px;
    padding: 3px;
    outline: 1px solid black;
    background-color: #BFCCA9;
    font-family: "Courier New", Courier, monospace;
    font-size: 24px;
    text-align: right;
}

td {
    width: 75px;
    height: 50px;
}

button {
    width: 100%;
    height: 100%;
    line-height: 100%;
    border: 2px solid #B8CC97;
    border-radius: 10px;
    color: white;
    background-color: #C8DEA4;
    font-size: 18px;
}

button:hover {
    background-color: #B8CC97;
}

.digit {
    color: black;
    border: 2px solid #CFCDCA;
    background-color: #E8E5DF;
}

.digit:hover {
    background-color: #CFCDCA;
}
