#calculator {
    width: 300px;
    margin: 70px;
    background-color: #F7F2E6;
    outline: 2px solid #E8E2D5;
    padding: 20px;
}

#display {
    height: 40px;
    line-height: 40px;
    padding: 6px 10px 0px;
    background-color: #BFCCA9;
    color: #606060;
    font-family: digital-7;
    font-size: 36px;
    text-align: right;
}

@font-face {
    font-family: digital-7;
    src: url("../fonts/digital-7.mono.ttf");
}

table {
    margin-top: 14px;
    border-spacing: 4px 0px;
}

td {
    width: 75px;
    height: 55px;
}

button {
    width: 100%;
    height: 100%;
    line-height: 100%;
    border: 2px solid #B8CC97;
    border-radius: 10px;
    color: white;
    background-color: #C8DEA4;
    font-size: 22px;
}

button:hover {
    background-color: #B8CC97;
}

.digit {
    color: #757575;
    border: 2px solid #CFCDCA;
    background-color: #E8E5DF;
}

.digit:hover {
    background-color: #CFCDCA;
}
